.header{
   font-size:40px;
}
html {
    height: 10%;
}

body {
    height: 10%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    display:flex;
    justify-content:space-around;
    width: 100px;
    margin: 15px;
}
